* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
}



.head-cont {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    /* flex: 1; */
    border: 2px limegreen solid;
    padding: 5px 50px;
}

.logo {
     height: 60px; 
    /* width: 60px; */
    border: 2px red solid;
    margin: 0;   
}

.links, li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: row;
    text-decoration: none;
    border: 2px red solid;
    height: 60px;
    
}

a:hover {
    color: rgb(86, 238, 70)
}

li, a {
    padding: 0;
    color: rgb(188, 183, 183);
    text-decoration: none; 
}

.container-two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:#1f2937;
    min-height: 250px;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    margin: 0 auto;
    border-bottom: 4px rgb(188, 183, 183) solid;
}

.container-two > * {
    width: 350px;
    
}

/*.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px red solid;
    justify-content: center;
} */

.second > .tigerbird {
    min-width: 0;
    max-width: 350px;
    min-height: 0;
    border-radius: 8px;
} 

 /*.cont-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px; } */

 h1 {
    color: white;
    font-size: 48px;
    font-weight: extra-bold;
    width: 400px;
} 

 /*.cont-right {
    max-width: 200px;

/*.tigerbird {
    width: 100px;
    height: 200px;
} */

p {
    color: rgb(188, 183, 183); 
    margin-bottom: 25px;  
}

button {
    background-color: rgb(72, 123, 233);
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
}

h2 {
    text-align: center;
    padding: 25px
}

.container-three {
    display: flex;
    min-height: 350px;
    justify-content: center;
    gap: 100px;
    align-items: center;
    flex-wrap: wrap;
    border: 2px red solid;
}

.picture {
    border: 2px rgb(72, 123, 233) solid;
    width: 250px;
    height: 150px;
    border-radius: 8px;
    margin-bottom: 15px; 
}

.box {
    width: 250px;
    min-height: 150px;
    flex: 1;
    text-align: center;
}

.text {
    
    margin-top: 0;
}

.container-four {
    display: flex;
    height: 350px;
    background-color: rgb(220, 222, 224);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-four > div {
    width: 400px;
    font-style: italic;
    font-size: 36px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.jb {
    text-align: right;
    color: black;
    
    font-size: 16px;
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

.container-five {
    display: flex;
    min-height: 350px;
    justify-content: center;
    align-items: center;
}

.sign-up-bar {
    height: 100px;
    width: 60%;
    background-color: rgb(72, 123, 233);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    color: white;
    font-weight: bold;  
}

.sign-up-bar > button {
    border: 1px white solid;
    min-width: 0;
}

.sign-up-bar > button:hover {
    background-color: white;
    color: rgb(119, 166, 237);
}

.thin-font {
    font-weight: 10;
}

.foot {
    display: flex;
    background-color:#1f2937;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: rgb(188, 183, 183);
}









