body {
    margin: 0;
}

.head-cont {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 22px;
}

.links, li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: row;
    text-decoration: none;
}

li, a {
    padding: 0;
    color: rgb(188, 183, 183);
    text-decoration: none; 
}

.container-two {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    /*justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    border: 2px lightgreen solid;*/
}

.container-two > * {
    flex-basis: 100%;
}

.cont-left {
    border: 2px red solid;
    text-align: center;
}

.cont-right {
    background-color: gray;
    border: 2px orangered solid; 
} 

h1 {
    color: white;
}

p {
    color: rgb(188, 183, 183);
}



